name: Build Docker Image

on:
  workflow_dispatch:
  push:
    tags:
      - "zkool-v*"

jobs:
  build-docker:
    runs-on: ubuntu-latest
    env:
      TAGGED: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            hhanh00/zcash-walletd
          tags: |
            type=semver,pattern={{version}},match=v(\d.\d.\d)$

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: hhanh00
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: misc/alpine.dockerfile
          context: rust
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: ${{ env.TAGGED == 'true' }}
